.ms-Grid-col {
   box-sizing: border-box;
	 background-color: grey;
	 border: 1px solid black;
	 color: white;
	 padding: 20px;
	 text-align: center;
 }
 .ms-Grid-col:hover {
	 background-color: #bada55;
	 color: black;
 }
 
 i.ms-Icon{
	 font-size: 46px;
   margin-bottom: 10px;
 }

.searchbox {
  display:flex;
  flex-direction: row;
}

.searchicon {
  padding: 8px;
}
.searchicon i {font-size: 26px;}

.search-input {
  display: block;
  flex-grow: 1;
  flex-shrink:1;
  border-style:none;
}

ul {
  display: flex;
  flex-wrap: wrap;
}
li {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
